/* common styles section */
body{
    background: url(../images/bg-pattern-top-desktop.svg),url(../images/bg-pattern-bottom-desktop.svg);
    background-position: left top , bottom right;
    background-repeat: no-repeat;
    margin: 10%;
    font-family: "League Spartan", sans-serif;
    }
    /* top section styles  */
    .top-container{
      display: flex;
      height: 50%;
      justify-content:space-between;
    }
    .top-left{
      display: flex;
      flex-direction:column;
      width: 30%;
     
    }
    .title{
      color: hsl(300, 43%, 22%);
      font-weight: 700;
      font-size: 2.7em;

    }
    .description{
      font-size: 15px;
      color: hsl(303, 10%, 53%);
      margin-top: 15px;
    }
    .top-right{
      display: flex;
      flex-direction:column;
      width: 50%;
     
      
    }
   
    .card-1, .card-2, .card-3{
      background-color: hsl(300, 24%, 96%);
      margin-bottom:15px;
      display:flex;
      justify-content:center;
      width: 60%; 
      padding: 15px 25px 15px 15px;
      gap: 15px;
      border-radius: 5px;
    }
    .stars{
      display: flex;
      gap: 3px;  
    }
    .stars img{
      width: 20px;
      height: 20px;
      }
    .text{
      font-weight: 700;
      font-size: 18px;
      color: hsl(300, 43%, 22%);
    }
    .card-1{
      margin-left: 18%;
      margin-top: 3%;
    }
    .card-2{
      margin-left: 28%;
    }
    .card-3{
      margin-left: 38%;
    }
   

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }